.header,
.footer {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header {
  height: 293px;
}

.menu {
  justify-self: start;
}

.menu-list {
  display: flex;
  gap: 13px;
  list-style: circle;
}

.menu-list-item {
  margin-left: 13px;
  text-transform: lowercase;
}

.first-item {
  list-style: none;
  margin-left: 0;
}

.header-link-active {
  text-decoration: none;
}

.header-logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header-logo-image {
  width: 100%;
  height: 100%;
}

.address {
  justify-self: end;
  font-style: normal;
  line-height: 24.3px;
  font-size: 18px;
  text-decoration: none;
  width: 240px;
  height: 98px;
}

.lowertext-underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  z-index: 1;
  height: 757px;  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover-title {
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 0.3em;
  margin-bottom: 106px;
  margin-right: -0.3em;
}

.cover-title span {
  display: block;
}

.cover-title span + span {
  text-align: center;
  margin: 20px 0;
}

.cover-title span + span + span {
  text-align: right;
  margin: 0;
}

.cover-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover-description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Лоты */
.lots {
  height: 723px;
  margin: 180px 24px 120px;
}

.lots-heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots-card-list {
  display: flex;  
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
  justify-content: space-between;
}

.lots-card-list-item {
  flex: 1;
  width: 334px;
  min-height: 596px;
}
 
.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.card {
  position: relative;
  height: 100%;
  width: 334px;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1.2;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  z-index: 1;
}

.lots-look-more-link {
  text-transform: lowercase;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  margin-left: 40px;
}

/* Об аукционе */
.about {
  margin: 0 24px 180px;
  padding: 40px 0 0 35px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 240px 693px;
  gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;
  justify-self: left;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about-information {
  justify-self: right;
  margin-top: 98px;
}
.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.about__text p:first-child {
  margin-bottom: 25px;
}

/* Футер */
.footer {
  padding: 0px 50px 82px;
}

.address-footer {
  justify-self: left;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  width: 163.9px;
}

.footer__menu-list-item {
  margin-bottom: 5px;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
}