.header,
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 0 50px;
}

.header {
  height: 293px;
}

.header-menu {
  justify-self: start;
  font-size: 18px;
}

.menu-list {
  display: flex;
  gap: 13px;
  list-style: circle;
}

.menu-list-item {
  margin-left: 13px;
  text-transform: lowercase;
}

.first-item {
  margin-left: 0;
  list-style: none;
}

.header-logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header-logo-image {
  width: 100%;
  height: 100%;
}

.address {
  width: 240px;
  height: 98px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header-address {
  justify-self: end;
}

.lowertext-underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  height: 757px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover-title {
  margin-right: -0.3em;
  margin-bottom: 106px;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover-title span {
  display: block;
}

.cover-title span+span {
  margin: 20px 0;
  text-align: center;
}

.cover-title span+span+span {
  margin: 0;
  text-align: right;
}

.cover-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover-description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.lots {
  height: 723px;
  margin: 180px 24px 120px;
}

.lots-heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots-card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots-card-list-item {
  width: 334px;
  height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card-type-film {
  background-image: url("../images/card-lot-01.jpg");
}

.card-type-book {
  background-image: url("../images/card-lot-02.jpg");
}

.card-type-picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card-title {
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-text {
  font-size: 20px;
  line-height: 1.2;
}

.lots-look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 240px 693px;
  justify-content: space-between;
  margin: 0 24px 180px;
  padding: 40px 0 0 35px;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-information {
  justify-self: right;
  margin-top: 98px;
}

.about-title {
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about-text {
  font-size: 20px;
  line-height: 24px;
}

.about-text p:first-child {
  margin-bottom: 25px;
}

.footer {
  padding: 0px 50px 82px;
}

.footer-address {
  justify-self: left;
}

.footer-menu {
  justify-self: center;
  font-size: 18px;
}

.footer-menu-list {
  width: 163.9px;
  text-align: center;
  list-style: none;
}

.footer-social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer-social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer-social-icon {
  width: 100%;
  height: 100%;
}